* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: #007ea7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
  color: white;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.h2 {
  padding-bottom: 80px;
  font-weight: bold;
  font-size: 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* Partie Header --------------------------------*/

.Home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #003249;
  padding: 0 20px 0 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  font-weight: bold;
  color: white;
  font-size: 18px;
  padding: 30px;
  display: inline;
}

.pptop {
  width: 70px;
  height: auto;
  border-radius: 50px;
}

/* Partie Slide ------------ Milieu */

.back {
  background-image: url(iMG/fond.jpg);
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body,
html {
  height: 100%;
  margin: 0;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.ppmid {
  width: 300px;
  border-radius: 250px;
  border: 3px solid white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.slidervar {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding: 85px 0 50px 0;
}

.slider {
  display: flex;
}

.slide {
  flex: 0 0 100%;
}

img {
  width: 100%;
  height: auto;
  transition: transform 0, 5s ease;
}
.slider:hover img {
  transform: scale(1.1);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dots-container {
  text-align: center;
  padding: 48px 20px 50px 0px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  font-weight: bold;
}

/* Partie forms et milieu bas */

.contact {
  padding: 200px 0 20px 0;
  font-size: 40px;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
  padding: 25px 0 25px 0;
  background-color: #80ced7;
  margin: 0 40rem 0 40rem;
}

h3 {
  padding-top: 60px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  background-color: #003249;
  margin-top: 80px;
}
.imgftr {
  width: 40px;
}
